@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
header {
    background-color: cyan;
    margin:0 auto;
    width:600px;
}
.user-img {
    padding:20px;
    width:200px;
}
.phone-img, .mail-img {
    padding:10px;
    width:10px;
    height:10px;
}
.container {
    display:flex;
    margin:0 auto;
    width:600px;
    font-family: 'Quicksand', sans-serif;
}
.name {
   width:350px;
}
h1 {
    text-align: center;
    font-size: 24px;
}
h3 {
    text-align: center;
}
ul {
    float:left;
    padding:0;
    width:250px;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
li {
    padding:0;
    list-style: none;
}
.main-container {
    display:flex;
    background-color: rgb(168, 255, 55);
}
.left{
    width:300px;
    padding:20px;
}
.right {
    width:300px;
    padding:20px;
}
footer {
    position:relative;
    background-color: rgb(255, 196, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    padding:20px;
    color:black;
    text-decoration: none;
}
img {
    vertical-align: middle;
}
.gh-img {
    width:30px;
}
.rs-img {
    width:50px;
}
a:hover {
    text-decoration:underline;
}
time {
    position:absolute;
    left:50%;
}
