/* General */
html {
    scroll-behavior:smooth;
    font-family: "Poppins", Arial, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}

/* Header */
.cv-header {
    display: flex;
    flex-direction: column;
    background-color: rgb(187, 187, 187);
}
.cv-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height:100%;
}
.contacts-menu::before {
    background-image: url(./images/reddit-4.svg);
    width: 32px;
    position: absolute;
    height: 32px;
    background-repeat: no-repeat;
}
.cv-list>li {
    display: flex;
    padding: 10px;
}
.home-page-logo {
    width:25px;
}
.cv-list>li>a {
    display: flex;
    color:#36454F;
    font-size: 20px;
}
/* Body */
.cv-body{
    margin:0 auto;
    max-width: 1280px;
}
main {
    display: grid;
    grid-template-columns: 380px 1fr;
}
.left-side {
    width: 380px;
}
.cv-my-picture {
    width: 100%;
    object-fit: cover;
}
.contacts-list {
    padding:0;
}
.contacts-list-item {
    display: flex;
    align-items: flex-start;
    padding:10px;
}
.about-me-text {
    
}
.skills-list {
    display: flex;
    list-style: none;
    flex-direction: column;
}
.skills-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Footer */
.cv-footer {
    background-color: rgb(187, 187, 187);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    align-items: center;
}
.cv-footer>a {
    color:white;
    text-decoration: none;
}
.cv-footer>img {
    width:100px;
}